.main-content{
    display: flex;
    width: 100%;
}
.tabledata,.analysis{
    width: 50%;
    height: 92vh;
}
.tabledata{
    border-right: 1px solid black;
    height: auto;
    margin-bottom: 10px;
}
.analysis{
    position: fixed;
    margin-left: 50%;
}